.geo-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 126px;
    width: 60%;
    margin: 20px;
}

.address-list {
    background-color: white;
    position: absolute;
    top: 100px;
    display: flex;
    width: 400px;
}
