.map-query-container {
    left: 50px;
    position: absolute;
    top: 150px;
}

.map-query-options {
    background-color: white;
    border: 1px solid rgb(78, 87, 80);
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
}
